<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&family=Tiro+Devanagari+Hindi&display=swap');
        *{
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            background-color: rgb(216, 230, 242);
        }
        .a{
            
            
            background-size: cover;
        }
        .b{
            height: 400px;
            width : 80%;
        }
        .c{
            height: 100px;
            width: 100%;
            background-color: black;
            color: white;
            padding: 20px;
            font-size: 50px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }
        .d{
            font-size: 40px;
            text-align: center;
            font-family: 'Bitter', serif;
            margin-top: 20px;
        }
        .f{
            height: 60px;
            width: 60%;
            background-color: aliceblue;
            text-align: left;
            margin-left: 300px;
            margin-top: 20px;
            padding-left: 25px;
            padding-top: 17px;
            border: 2px solid aliceblue;
            border-radius: 8px;
            font-family: 'Bitter', serif;
            font-size: 20px;
            font-weight: bold;
        }
        .g{
            margin-top: 50px;
        }
        .h{
            text-align: center;
            width: 170px;
            height: 40px;
            border: 1px solid rgb(42, 43, 44);
            border-radius: 5px;
            color: whitesmoke;
            padding: 10px 20px 8px 25px;
            font-size: 16px;
            font-family: 'Bitter', serif;
            margin-left: 600px;
            margin-top: -33px;
            background-color: rgb(42, 43, 44);
        }

        .h a{
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            color : white;
            background-color: rgb(42, 43, 44);
        }
        .i{
            width: 200px;
            margin-top: 200px;
        }
    </style>
</head>
<body>
      {{>navbar}}
    <div class="a">
        
    </div>
    <div class="c">
        CAREERS
    </div>
    <div class="d">
        JOB LISTING
    </div>

    <div class="g">
        <div class="f">
            Wildlife Inspector
            <div class="h">
                <a href="P1.html">KNOW MORE</a>
            </div>
        </div>
        <br>
        <div class="f">
            Research Scientist
            <div class="h">
                <a href="P2.html">KNOW MORE</a>
            </div>
        </div>
        <br>
        <div class="f">
            Fisheries Officer
            <div class="h">
                <a href="P3.html">KNOW MORE</a>
            </div>
        </div>
        <br>
        <div class="f">
            Animal Husbandry Assistant
            <div class="h">
                <a href="P4.html">KNOW MORE</a>
            </div>
        </div>
        <br>
        <div class="f">
            Zoo Keeper
            <div class="h">
                <a href="P5.html">KNOW MORE</a>
            </div>
        </div>
        <br>
        <div class="f">
            Forest Ranger
            <div class="h">
                <a href="P6.html">KNOW MORE</a>
            </div>
        </div>
        <br>
        <div class="f">
            Veterinary Officer
            <div class="h">
                <a href="P7.html">KNOW MORE</a>
            </div>
        </div>
    </div>

    <div class="i">

    </div>
          {{>footer}}
</body>
</html>
