<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>navbar}}

    <img style="height: 323px;
    width: 267px;
    margin-left: 458px;"src="/img/qr.jpeg" alt="qr code">
    {{>footer}}
</body>
</html>