<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="3.css"> -->
    <style>
         .nav{
            height: 60px;
            width: 100%;
            background-color:#a5a00c;
                margin-bottom: -1px;

            
            color: white;
            padding-top: 8px;
            padding-left: 30px;
            font-size: 25px;
            
        }   *{
            padding : 0;
            margin: 0;
            box-sizing: border-box;
            transition: .3s erase;
        }

        .im{
            height: 250px;
            width: 100%;
        }

        

        .bo{
            background-color: red;
            background-image: linear-gradient(to right, rgb(211, 211, 179) , rgb(214, 157, 24));
        }

        table{
            border-collapse: collapse;
        }

        tr ,th ,td{
            border: 1px solid darkgrey;
            border-collapse: collapse;
        }

        .ta{
            justify-content: center;
            align-items : center;
            width:70%;
            height: 50%;
            margin-left: 15%;
            margin-right: 15%;   
        }

        .the{
            text-align: center;
            padding: 15px;
            font-size: 24px;
            background-color: darkgrey;
            font-family: 'Montserrat', sans-serif;
        }

        .tde{
            text-align: center;
            cursor: pointer;
            padding: 7px;
            font-size: 16px;
            background-color: grey;
            font-family: 'Montserrat', sans-serif;
        }

        td a{
            text-decoration: none;
            color : white
        }
          .bo{
            background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
        }

        ul.a{
            list-style: square;
            list-style-position: inside;
            margin-left: 100px;
            margin-right: 200px;
            font-size: 24px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 800;
            color:rgb(130, 64, 42);
        }

        ul.b{
            list-style-position: inside;
            margin-left: 200px;
            margin-right: 200px;
            font-size: 20px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color:rgb(107, 59, 43);
        }

        .ca{
            padding-left: 600px;
            padding-right: 100px;
            font-size: larger;
            color: rgb(22, 8, 8);
            cursor: pointer;
        }

        .da{
            font-size: larger;
            color: rgb(22, 8, 8);
            cursor: pointer;
        }
        
.c1{
    background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
    border-style: none;
    font-size: medium;
    padding: 5px 10px 5px 10px;
    margin: 0px 30px 0px 480px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.c2{
    background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
    border-style: none;
    font-size: medium;
    padding: 5px 10px 5px 10px;
    margin: 0px 0px 0px 30px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;

}

.d1{
    background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
    border-style: none;
    font-size: medium;
    padding: 5px 15px 5px 15px;
    /* top right botton up */
    margin: 5px 15px 0px 0px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.d2{
    background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
    border-style: none;
    font-size: medium;
    padding: 5px 15px 5px 15px;
    margin: 5px 11px 0px 11px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.d3{
    background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
    border-style: none;
    font-size: medium;
    padding: 5px 15px 5px 15px;
    margin: 5px 11px 0px 11px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.d4{
    background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
    border-style: none;
    font-size: medium;
    padding: 5px 15px 5px 15px;
    margin: 5px 11px 0px 11px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.d5{
    background-image: linear-gradient(to right,rgb(211, 211, 179), rgb(214, 157, 24));
    border-style: none;
    font-size: medium;
    padding: 5px 15px 5px 15px;
    margin: 20px 0px 0px 11px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

        button a{
            text-decoration: none;
            color : white
        }


        {{!--  --}}
    </style>
</head>
<body>
       {{>navbar}}
       <div class="im">
        <img src="img/guideliness.png" width="100%" height="333px"  style="margin-top:0.5px; border-radius:0%" class="im">
    </div>
    <div class="nav " style="margin-top: 0px;">
        GUIDELINES
    </div>
      <div class="bo">
        <br><br><br><br><br>
        <table class="ta">
           
            <div class="bo">
        <br><br><br><br><br>
        <ul class="a">
              <li>
                Avoid activities that disturb wildlife
            </li>
        </ul>
        <br><br>
        <ul class="b">
            <li>
                Avoid activities that disturb wildlife, such as getting too close to wildlife for photos or feeding wild animals.
            </li>
            <br>
            <li>
                Approaching wildlife too closely can disrupt their natural behaviors and cause stress, putting their survival at risk.
            </li>
            <br>
            <li>
                Similarly, feeding wild animals can lead to dependence on human food, changes in their migration patterns, and increased risk of disease transmission.
            </li>
            <br>
            <li>   
                It's also important to avoid activities that can harm wildlife, such as disturbing nests or interfering with breeding or migration patterns.
            </li>
        </ul>
        <br><br><br>
       
        <div>
            <button type="button1" class="c1"><a href="3.html">❮ MAIN</a></button>
            <button type="button2" class="d1"><a href="/G1">1</a></button> 
            <button type="button2" class="d2"><a href="/G2">2</a></button> 
            <button type="button2" class="d3"><a href="/G3">3</a></button> 
            <button type="button2" class="d4"><a href="/G4">4</a></button> 
            <button type="button2" class="d5"><a href="/G5">5</a></button> 
            <button type="button1" class="c2"><a href="G2.html">NEXT ❯</a></button>
        </div>
            
        <br><br>
    </div>
        </table>
        <br><br><br><br><br>
    </div>

    
      {{>footer}}
</body>
</html>