<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>

    {{>navbar}}
   <div class="home-section">
   {{>hero}}
   </div>
   <div class="incapital" style="display:flex ;padding: 38px; justify-content: space-between;"  >
    
<div class="card" style="width: 18rem;">
  <a href="https://en.wikipedia.org/wiki/David_Attenborough"><img class="card-img-top" style="    border: 2px solid mediumvioletred;" src="/img/Sir David.jpg" alt="Card image cap">
  <div class="card-body"></a>
    <h5 class="card-title" style="text-align: center;
    font-size: 20px;">Sir David</h5>
    <p class="card-text">Sir David Frederick Attenborough  born 8 May 1926) is an English broadcaster, biologist, natural historian and author. He is best known for writing and presenting, </p>
 
  </div>
</div>


<div class="card" style="width: 18rem;">
 <a href="https://en.wikipedia.org/wiki/Jane_Goodall"></a> <img class="card-img-top" style="
    width: 288px;
    height: 258px;
    border: 2px solid mediumvioletred;
}"src="/img/Jane Goodall.png" alt="Card image cap">
  <div class="card-body"></a>
    <h5 class="card-title" style="text-align: center;
    font-size: 20px;" >Jane Goodall</h5>
    <p class="card-text">Dame Jane Morris Goodall DBE  born Valerie Jane Morris-Goodall on 3 April 1934),[3] formerly Baroness Jane van Lawick-Goodall, is an English primatologist and anthropologist.</p>
    
  </div>
  
  
</div>


<div class="card" style="width: 18rem;">
 <a href="https://en.wikipedia.org/wiki/Li_Quan_(wildlife_conservationist)"> <img class="card-img-top" style="width: 288px;
    height: 258px;
    border: 2px solid mediumvioletred;" src="/img/Li Quan.png" alt="Card image cap">
  <div class="card-body"></a>
    <h5 class="card-title" style="text-align: center;
    font-size: 20px;">Li Quan</h5>
    <p class="card-text">Li Quan is a graduate of Beijing University, and holds a dual MBA/MA degree from the Wharton Business School and the Lauder Institute at the University of Pennsylvania.</p>
  
  </div>
</div>
   </div>
    {{>footer}}

</body>
</html>