<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
   
</head>
<body>
   <footer class="footer">
    <div class="footer-inner">
        <p  style="font-family: fangsong;  text-align: center;
    font-weight: bolder;
    color: lightskyblue;">FOLLOW US ON</p>
        <div class="social-media">
           <a href="https://www.facebook.com/WildlifeProtectionSolutions/"  target="_blank"><i class="fa-brands fa-square-facebook"  style="color:rgba(40, 40, 206, 0.973)"></i></a>
           <a href="https://www.instagram.com/WildlifeProtectionSolutions/"  target="_blank" ><i class="fa-brands fa-square-instagram" style="color:rgba(40, 40, 206, 0.973)"></i></a>
           <a href="https://twitter.com/WildlifeProSo"  target="_blank"><i class="fa-brands fa-square-twitter" style="color:rgba(40, 40, 206, 0.973)"></i></a>
          <a href="https://www.linkedin.com/company/wildlife/"  target="_blank"> <i class="fa-brands fa-linkedin-in" style="color:rgba(40, 40, 206, 0.973)"></i></a>

        </div>
        {{!-- <div class="menu">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/secret">Secret</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </div> --}}
    </div>

    <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="height: 127px;
    padding-right: 118px;">
       <h5 class="card-title" style="    padding-bottom: 8px; color:aqua ">Links</h5>
        <p class="card-text"  style="    padding-bottom: 8px; color:aqua">About Wildlife</p>
        <p class="card-text" style="    padding-bottom: 8px; color:aqua">Terms Of Use</p>
        <p class="card-text" style="    padding-bottom: 8px; color:aqua">Contact Us :queries@Vanyapran.com</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body" style="height: 127px;
   padding-left: 119px;">
        <h5 class="card-title" style="    padding-bottom: 8px;  color:aqua">Links</h5>
        <p class="card-text"  style="    padding-bottom: 8px; color:aqua">About Wildlife</p>
        <p class="card-text" style="    padding-bottom: 8px; color:aqua">Terms Of Use</p>
        <p class="card-text" style="    padding-bottom: 8px; color:aqua">Contact Us :queries@Vanyapran.com</p>
      </div>
    </div>
  </div>
</div>
    <div class="footer-outer">
        Copyright &copy; VANYAPRAN| All rights reserved
    </div>
   </footer>
</html>