<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/partials.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
</head>
<body>
    <nav class="nav">
        <div class="logo">
                <img src="/img/logosample1.png" width="48" height="48"  style="border-radius: 10px 100px / 120px"; alt="nature">
                
        </div>
        <p  classs="glow  "style="font-size: 3.7rem ; color: white;  text-shadow: 0 0 5px #fff,
    0 0 10px #fff, 
    0 0 20px green, 
    0 0 30px green, 
    0 0 40px green, 
    0 0 55px green, 
    0 0 70px green;
    font-family: ui-monospace;
    font-weight: bolder;">VANYAPRAN</p>
        <ul class="ul">
            <li><a href="/" style="border-radius:7px ; color:black" ><i class="fa fa-home"></i>Home</a></li>
            {{!-- <li><a href="#" style="border-radius:7px ; color:black">About</a> --}}
           
             <li><a href="#" style="border-radius:7px ; color:black">Our mission</a>
              <ul>
                <li><a href="Guidelines">Guidelines</a></li>
                {{!-- <li><a href="Know">Know It All</a></li> --}}
                <li><a href="FAQ">FAQ's</a></li>
                <li><a href="Contribution">Your Contribution</a></li>
            </ul>

             </li>
            
            
            
            
            </li>
            {{!-- <li><a href="secret" style="box-shadow: 10px 5px 5px rgb(155, 119, 119); color:black">Secret</a></li> --}}
            <li><a href="#" style="border-radius:7px ; color:black">Document</a>
             <ul>
                {{!-- <li><a href="Guidelines">Guidelines</a></li> --}}
                <li><a href="careerpage">careerpage</a></li>
                <li><a href="p1">p1</a></li>
                </ul>
            </li>
            <li><a href="#" style="border-radius:7px ; color:black">Account</a>
                <ul>
                <li><a href="register" style="border-radius:7px ; color:black">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>

        <div class="icon">
            <i class="fa-solid fa-bars"></i> 
            <i class="fa-solid fa-xmark"></i> 
        </div>
    </nav>
    <script src="js/navbar.js"></script>
</body>

</html>